body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

img{
    height: auto;
    width: 200px;
}

p, ol{
    width: 500px;
}

li{
    margin-bottom: 10px;
}